<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
    <staticContent>
     <clientCache cacheControlMode="DisableCache" />
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" /> 
    </staticContent>
 </system.webServer>
 <!--<location path="./**/*">
  <system.webServer>
    <staticContent>
          <clientCache cacheControlMode="DisableCache" />
     
    </staticContent>
  </system.webServer>
</location>-->
</configuration>
